@use '../abstract/' as *;

.error {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    &__title {
        @include font($primary-font, semibold, 2.6rem);
        color: color(neutral, 200);
        margin-top: 3em;
    }
    &__content {
        @include font($secondary-font, medium, 1rem);
        color: color(neutral, 300);
        margin-top: 1.6em;
    }
    &__info {
        @include font($secondary-font, medium, 1rem);
        color: color(neutral, 300);
        margin-top: .6em;
    }

    @include mq(max-width, small) {
        &__title {
            font-size: 1.6rem;
        }
        &__content {
            font-size: .9rem;
        }
        &__info {
            font-size: .9rem;
        }
    }
}