@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.btn {
    @include text($primary-font, 500, 1rem, $half-white-color);
    background-color: $violet-color;
    padding: .6em 1.6em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 160ms ease-in;

    &:hover {
        background-color: $violet-color-dark;
    }
}