@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.chat-message {
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, flex-start);

    .chat-header {
        height: 60px;
        width: 100%;
        padding-right: 1em;
        @include flex(row, flex-start, center);

        .chat-close-mobile {
            display: none;
        }
        .user-image {
            @include flex(row, center, center);
            margin-left: .5em;

            svg {
                font-size: 2rem;
                color: $violet-color;
                filter: grayscale(60%);
            }
        }
        .user-name {
            @include text($primary-font, 600, .8rem, $light-grey-color);
            letter-spacing: .8px;
            margin-left: .4em;
        }
        .chat-close-desktop {
            margin-left: auto;
        }
    }
    .chat-messages {
        height: calc(100% - 120px);
        width: 100%;
        overflow: auto;
        p {
            @include text($primary-font, 500, .8rem, $half-white-color);
            background-color: $violet-color;
            padding: .8em 1.2em;
            margin: .4em 0 .4em 1em;
            border: none;
            border-radius: 5px;
            max-width: 100px;
        }
    }
    .chat-messages::-webkit-scrollbar {
        width: 0.3em;
    }
      
    .chat-messages::-webkit-scrollbar-track {
        background: $dark-grey-color;
    }
      
    .chat-messages::-webkit-scrollbar-thumb {
        background: rgba(102, 102, 255, .5);
    }
    .chat-send-form {
        height: 60px;
        width: 100%;
        @include flex(row, space-evenly, center);

        .chat-input {
            @include text($secondary-font, 700, .8rem, $light-grey-color);
            letter-spacing: 0.0625em;
            padding: 1em 1.2em;
            width: calc(100% - 120px);
            background-color: $black-color;
            border: none;
            border-radius: 3px;

            &:focus {
                outline: none;
            }
        }
    }
}

@media screen and (max-width: 550px)  {
    .chat-message {
        .chat-header {
            .chat-close-mobile {
                display: block;
            }
            .chat-close-desktop {
                display: none;
            }
            .user-image {
                margin-left: 0;
            }
            .chat-close-mobile {
                width: 40px;
                height: 40px;
                @include flex(row, center, center);
    
                .left-arrow-icon {
                    display: block;
                    width: 20px;
                    height: 20px;
                    @include flex(row, flex-start, center);
    
                    svg {
                        font-size: 1.6rem;
                        color: $light-grey-color;
                        filter: grayscale(60%);
                    }
                }
            }
        }
    }
}