@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.chat-container {
    margin-left: 4em;
    width: calc(100% - 4em);
    height: 100vh;
    display: flex;

    .users-section {
        width: 250px;
        height: 100%;
        border-right: 1px solid $black-color;
        transition: transform 250ms ease-in-out;

        .title {
            @include text($primary-font, 600, 1.6rem, $light-grey-color);
            height: 60px;
            padding: .5em 0 0 .5em;
            box-shadow: 0 5px 5px -5px $black-color;
        }
    }
    .message-section {
        height: 100%;
        width: calc(100% - 250px);
        @include flex(row, center, center);
        transition: transform 250ms ease-in-out;

        .start-message {
            @include text($primary-font, 600, 1.4rem, $light-grey-color);
        }
    }
}

@media screen and (max-width: 650px) {
    .chat-container {
        .users-section {
            width: 200px;
        }
        .message-section {
            width: calc(100% - 200px);
        }
    }
}

@media screen and (max-width: 550px) {
    .chat-container {
        .users-section {
            width: calc(100% - 4em);
            position: absolute;
        }
        .message-section {
            width: calc(100% - 4em);
            position: absolute;
        }
        .users-section.hide {
            width: 0%;
            transform: translateX(-100%);

            .title {
                display: none;
            }
        }
        .message-section.hide {
            width: 0%;
            transform: translateX(100%);

            .start-message {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .chat-container {
        margin-left: 0;
        width: 100%;
        height: calc(100vh - 4em);

        .users-section {
            width: 100%;
        }
        .message-section {
            width: 100%;
        }
    }
}