@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.chat-container {
    margin-left: 4em;
    padding: 1em;
    background-color: $dark-grey-color;

    .title {
        @include text($primary-font, 600, 2rem, $light-grey-color);
    }
    button {
        margin-top: 2em;
    }
    .dummy-text {
        @include text($secondary-font, 400, .8rem, $light-grey-color);
        letter-spacing: 1px;
        line-height: 20px;
        margin-top: 2em;
    }
}

@media screen and (max-width: 425px) {
    .chat-container {
        margin-left: 0;
    }
}