@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.error-page {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .title {
        @include text($primary-font, 600, 2.6rem, $full-white-color);
        margin-top: 3em;
    }
    .message {
        @include text($secondary-font, 400, 1rem, $half-white-color);
        margin-top: 1.6em;
        letter-spacing: 1px;
    }
    .status {
        @include text($secondary-font, 400, 1rem, $half-white-color);
        margin-top: .6em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 400px) {
    .error-page {
        .title {
            font-size: 1.6rem;
        }
        .message {
            font-size: .9rem;
        }
        .status {
            font-size: .9rem;
        }
    }
}