@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    padding: 2em;
    background-color: $dark-grey-color;
    border: none;
    border-radius: 3px;
    @include flex(column, center, center);

    .title {
        @include text($secondary-font, 700, 1.6rem, $half-white-color);
        text-align: center;
    }
    form {
        margin-top: 2em;
        width: 100%;
    }
    .input-container {
        height: 70px;
        
        input {
            @include text($secondary-font, 700, .8rem, $light-grey-color);
            letter-spacing: 0.0625em;
            width: 100%;
            padding: 1em 1.2em;
            background-color: $black-color;
            border: none;
            border-radius: 3px;

            &:focus {
                outline: none;
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
            &:focus:-ms-input-placeholder {
                color: transparent;
            }
            &:focus:-moz-placeholder {
                color: transparent;
            }
            &:focus::-moz-placeholder {
                color: transparent;
            }
            &:focus::placeholder {
                color: transparent;
            }
        }
        .input-error-message {
            @include text($secondary-font, 500, .8rem, $red-color);
            letter-spacing: .8px;
        }
    }
    .btn-submit {
        button {
            width: 100%;
        }
    }
    .link-container {
        margin-top: .5em;
        width: 100%;
        @include flex(row, space-between, center);
        p {
            @include text($primary-font, 500, .9rem, $light-grey-color);
        }
        a {
            color: $blue-color;
            text-decoration: none;
        }
        .login-link {
            width: 100%;
            text-align: center;
        }
    }
    .general-message {
        @include text($primary-font, 500, .9rem, $light-grey-color);
        margin-top: .5em;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .form-container {
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        max-width: 550px;
        height: 100vh;
        justify-content: flex-start;

        .title {
            font-size: 1.4rem;
        }
        .link-container {
            flex-direction: column;

            .signup-link {
                margin-top: .5em;
            }
        }
    }
}