@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.signup-container {
    width: 80%;
    max-width: 600px;
    margin: 4em auto;
    background-color: $dark-grey-color;
    border: none;
    border-radius: 5px;
    @include flex(column, center, center);

    .title {
        @include text($primary-font, 600, 1.6rem, $white);
        margin-top: 1em;
    }
    .server-message {
        @include text($secondary-font, 500, .8rem, rgba(245, 245, 245, .9));
        letter-spacing: 1px;
        display: block;
        margin-top: 2em;
        width: 80%;
        padding: 1em;
        text-align: center;
        background-color: rgba(245, 75, 103, .6);
        border-radius: 5px;
    }
    form {
        margin-top: 2em;
        width: 80%;
    }
    .input-container {
        height: 70px;
        input {
            @include text($secondary-font, 400, .8rem, $white);
            letter-spacing: 0.0625em;
            width: 100%;
            padding: 1em 1.2em;
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            border-radius: 5px;
            transition: all 200ms ease-in;

            &:focus {
                border: 1px solid $primary-color2;
                outline: none;
            }
        }
        .input-error-message {
            @include text($secondary-font, 500, .8rem, $primary-color1);
        }
    }
    .btn-signup {
        text-align: center;
        margin-top: .5em;
        button {
            padding: .6em 2em;
        }
    }
    .btn-login {
        width: 80%;
        margin: 2em auto;
        text-align: center;
        border-top: 1px solid $primary-color2;
        a {
            display: inline-block;
            margin-top: 2em;
        }
    }
}
