$colors: (
    indigo: (
        lighter: hsl(231, 48%, 48%),
        light: hsl(231, 48%, 43%),
        base: hsl(231, 49%, 38%),
        dark: hsl(231, 49%, 34%),
        darker: hsl(231, 48%, 29%),
    ),
    blue: (
        lighter: hsl(200, 48%, 48%),
        light: hsl(200, 48%, 43%),
        base: hsl(200, 49%, 38%),
        dark: hsl(200, 49%, 34%),
        darker: hsl(200, 48%, 29%),
    ),
    green: (
        lighter: hsl(143, 48%, 48%),
        light: hsl(143, 48%, 43%),
        base: hsl(143, 49%, 38%),
        dark: hsl(143, 49%, 34%),
        darker: hsl(143, 48%, 29%),
    ),
    red: (
        lighter: hsl(360, 48%, 48%),
        light: hsl(360, 48%, 43%),
        base: hsl(360, 49%, 38%),
        dark: hsl(360, 49%, 34%),
        darker: hsl(360, 48%, 29%),
    ),
    neutral: (
        100: hsl(0, 0%, 95%),
        200: hsl(0, 0%, 88%),
        300: hsl(0, 0%, 77%),
        400: hsl(0, 0%, 62%),
        500: hsl(0, 0%, 46%),
        600: hsl(0, 0%, 31%),
        700: hsl(0, 0%, 23%),
        800: hsl(0, 0%, 19%),
        900: hsl(0, 0%, 13%),
        1000: hsl(0, 0%, 10%),
    )
)