@use '../abstract/' as *;

.add-friend-add {
    width: 100%;
    height: 100%;
    @include flex(row, center, flex-start);
    padding: 2em 1em;

    form {
        width: 100%;
    }
    &__input {
        @include font($secondary-font, medium, .8rem);
        width: 100%;
        padding: 1em 155px 1em 1.2em;
        background-color: color(neutral, 1000);
        border: 1px solid color(neutral, 1000);
        color: color(neutral, 300);
        border: none;
        border-radius: 3px;

        &:focus {
            outline: none;
        }
        &.success {
            border: 1px solid color(blue, base);
        }
        &.fail {
            border: 1px solid color(red, base);
        }
    }
    .btn {
        font-size: .8rem;

        &:disabled {
            filter: brightness(75%);
            &:hover {
                background-color: color(violet, base);
            }
        }
    }
    &__server-message {
        padding-left: .4em;
        @include font($secondary-font, medium, .8rem);
        &.success {
            color: color(blue, base);
        }
        &.fail {
            color: color(red, base);
        }
    }
    @include mq(max-width, small) {
        &__input {
            padding-right: 1.2em;
        }
        .btn {
            margin-top: .8em;
            width: 100%;
        }
    }
    @include mq(min-width, small) {
        &__input-wrapper {
            position: relative;
        }
        .btn {
            padding: .4em 1.8em;
            position: absolute;
            top: 9px;
            right: 8px;
        }
    }
}