@use '../abstract/' as *;

.btn {
    @include font($primary-font, semibold, 1rem);
    letter-spacing: .8px;
    background-color: color(violet, dark);
    color: color(neutral, 200);
    padding: .6em 1.6em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color $transition-duration $transition-timing-function;

    &:hover {
        background-color: color(violet, darker);
    }
}