@use '../abstract/' as *;

.btn {
    @include font($secondary-font, semibold, 1rem);
    background-color: color(violet, base);
    color: color(neutral, 200);
    padding: .6em 1.6em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color $transition-duration $transition-timing-function;

    &:hover {
        background-color: color(violet, dark);
    }
}