@use '../abstract/' as *;

.chat-users {
    width: 100%;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
    &__link {
        text-decoration: none;
        display: block;
        margin: .2em;
        padding: .4em;
        border-radius: 3px;
        transition: background-color $transition-duration $transition-timing-function;

        &:hover {
            background-color: color(neutral, 600);
        }
        &:hover .chat-users__user-name {
            color: color(neutral, 200);
        }
        &:hover .chat-users__user-image {
            svg {
                color: color(violet, base);
            }
        }
    }
    &__link.active {
        background-color: color(neutral, 600);
    }
    &__link.active &__user-name {
        color: color(neutral, 200);
    }
    &__link.active &__user-image {
        svg {
            color: color(violet, base);
        }
    }
    &__user {
        @include flex(row, flex-start, center);
    }
    &__user-image {
        @include flex(row, center, center);

        svg {
            font-size: 2rem;
            color: color(violet, base);
            filter: grayscale(40%);
            transition: color $transition-duration $transition-timing-function;
        }
    }
    &__user-name {
        @include font($secondary-font, semibold, .8rem);
        color: color(neutral, 400);
        margin-left: .6em;
        transition: color $transition-duration $transition-timing-function;
    }
}