@use '../abstract/' as *;

.message {
    width: 100%;
    height: 100%;
    @include flex(column, center, center);

    &__header {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid color(neutral, 1000);
        box-shadow: 0 6px 6px -6px color(neutral, 1000);
        @include flex(row, flex-start, center);
    }
    &__close-btn {
        width: 40px;
        height: 40px;
        margin-left: .8em;

        a {
            display: block;
            width: 100%;
            height: 100%;
            @include flex(row, center, center);
        }
        svg {
            font-size: 1.6rem;
            color: color(neutral, 400);
            transition: color $transition-duration $transition-timing-function;
        }
        &:hover {
            svg {
                color: color(neutral, 300);
            }
        }
    }
    &__pfp {
        width: 40px;
        height: 40px;
        @include flex(row, center, center);
        margin-left: -0.4em;

        svg {
            font-size: 2rem;
            background-color: color(neutral, 400);
            color: color(neutral, 1000);
            border-radius: 50%;
        }
    }
    &__name {
        @include font($secondary-font, semibold, .85rem);
        color: color(neutral, 300);
        margin-left: .6em;
    }
    &__body {
        height: calc(100% - 100px);
        width: 98%;
        padding: 0 .4em;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0.3em;
        }
          
        &::-webkit-scrollbar-track {
            background: color(neutral, 700);
        }
          
        &::-webkit-scrollbar-thumb {
            background: color(neutral, 900);
        }
        &.pending {
            height: calc(100% - 150px);
        }
    }
    &__message-wrapper {
        @include flex(column, flex-start, flex-start);
        margin: .6em 0;

        &.sent {
            align-items: flex-end;
        }
    }
    &__message {
        @include font($secondary-font, medium, .85rem);
        background-color: color(violet, base);
        color: color(neutral, 300);
        padding: .8em 1.2em;
        border-radius: 3px;
    }
    &__footer {
        height: 50px;
        width: 100%;
        padding: 0 .6em;
        position: relative;

        &.pending {
            height: 100px;
        }
    }
    &__pending {
        width: 100%;
        height: 100%;
        @include flex(column, center, center);
    }
    &__pending-text {
        @include font($secondary-font, medium, .8rem);
        color: color(neutral, 300);
        text-align: center;
    }
    &__pending-btn-wrapper {
        margin-top: .6em;
    }
    .btn--accept, .btn--reject {
        font-weight: medium;
        font-size: .8rem;
    }
    .btn--reject {
        margin-left: .4em;
    }
    &__emojis-window {
        position: absolute;
        bottom: 100%;
        width: calc(100% - 75px);
        height: 120px;
        padding: .4em;
        background-color: color(neutral, 1000);
        border-radius: 3px;
        display: none;

        &.open {
            display: block;
        }
    }
    &__emojis-window-header {
        height: 32px;
        @include flex(row, flex-start, center);
    }
    &__emojis-window-body {
        height: calc(120px - 44px);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0.3em;
        }
          
        &::-webkit-scrollbar-track {
            background: color(neutral, 1000);
        }
          
        &::-webkit-scrollbar-thumb {
            background: color(neutral, 700);
        }
    }
    &__emojis-window-title {
        @include font($secondary-font, medium, .8rem);
        color: color(neutral, 300);
    }
    &__close-emojis-window-btn {
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        @include flex(row, center, center);
        cursor: pointer;

        svg {
            font-size: 1.6rem;
            color: color(neutral, 400);
            transition: color $transition-duration $transition-timing-function;
        }
        &:hover {
            svg {
                color: color(neutral, 300);
            }
        }
    }
    &__emoji {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 3px;
        background: none;
        cursor: pointer;

        &:hover {
            background-color: color(neutral, 700);
        }
    }
    &__open-emojis-window-btn {
        width: 30px;
        height: 30px;
        border: none;
        background: none;
        @include flex(row, center, center);
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 15px;

        svg {
            font-size: 1.6rem;
            color: color(neutral, 400);
            transition: color $transition-duration $transition-timing-function;
        }
        &:hover {
            svg {
                color: color(neutral, 300);
            }
        }
    }
    &__form {
        width: 100%;
        height: 100%;
        @include flex(row, space-between, center);
    }
    &__form-input {
        @include font($secondary-font, semibold, .8rem);
        background-color: color(neutral, 1000);
        color: color(neutral, 300);
        padding: .8em 1.8em .8em 3.2em;
        width: calc(100% - 55px);
        border: none;
        border-radius: 50px;

        &:focus {
            outline: none;
        }
    }
    &__form-btn-wrapper {
        width: 45px;
    }
    .btn--send {
        @include flex(row, center, center);
        padding: .8em;
        border-radius: 100%;

        svg {
            font-size: 1rem;
        }
    }
}