@use '../abstract/' as *;

.chat-users {
    width: 100%;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
    &__link {
        text-decoration: none;
        display: block;
        margin: .2em;
        padding: .4em;
        border-radius: 5px;
        transition: background-color $transition-duration $transition-timing-function;

        &:hover {
            background-color: color(neutral, 700);
        }
        &:hover .chat-users__user-name {
            color: color(neutral, 200);
        }
        &:hover .chat-users__user-image {
            svg {
                color: color(indigo, lighter);
            }
        }
    }
    &__link.active {
        background-color: color(neutral, 700);
    }
    &__link.active &__user-name {
        color: color(neutral, 200);
    }
    &__link.active &__user-image {
        svg {
            color: color(indigo, lighter);
        }
    }
    &__user {
        @include flex(row, flex-start, center);
    }
    &__user-image {
        @include flex(row, center, center);

        svg {
            font-size: 2rem;
            color: color(indigo, base);
            filter: grayscale(60%);
            transition: color $transition-duration $transition-timing-function;
        }
    }
    &__user-name {
        @include font($primary-font, semibold, .8rem);
        color: color(neutral, 400);
        margin-left: .6em;
        transition: color $transition-duration $transition-timing-function;
    }
}