@use '../abstract/' as *;

.chats {
    width: 100%;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }
    &__tag {
        @include font($secondary-font, semibold, .85rem);
        color: color(neutral, 400);
        text-align: center;
        margin-top: 2em;
    }
    &__link {
        text-decoration: none;
        display: block;
        margin: .2em;
        padding: .4em;
        border-radius: 3px;
        transition: background-color $transition-duration $transition-timing-function;

        &:hover, &.active {
            background-color: color(neutral, 600);
        }
        &:hover .chats__name, &.active .chats__name {
            color: color(neutral, 200);
        }
    }
    &__list-item {
        @include flex(row, flex-start, center);
    }
    &__image {
        width: 40px;
        height: 40px;
        @include flex(row, center, center);

        svg {
            font-size: 2rem;
            background-color: color(neutral, 500);
            color: color(neutral, 1000);
            border-radius: 50%;
        }
    }
    &__name {
        @include font($secondary-font, semibold, .8rem);
        color: color(neutral, 300);
        margin-left: .6em;
        transition: color $transition-duration $transition-timing-function;
    }
}