@use '../abstract/' as *;

.chat-message {
    width: 100%;
    height: 100%;
    @include flex(column, flex-start, flex-start);

    &__header {
        height: 50px;
        width: 100%;
        padding-left: .5em;
        box-shadow: 0 6px 5px -5px color(neutral, 1000);
        @include flex(row, flex-start, center);
    }
    &__close-btn {
        width: 30px;
        height: 30px;
        @include flex(row, center, center);
    }
    &__left-arrow-icon {
        display: block;
        width: 15px;
        height: 15px;
        @include flex(row, flex-start, center);

        svg {
            font-size: 1.4rem;
            color: color(neutral, 400);
        }
    }
    &__user-image {
        @include flex(row, center, center);

        svg {
            font-size: 2rem;
            color: color(indigo, light);
        }
    }
    &__user-name {
        @include font($primary-font, semibold, .8rem);
        color: color(neutral, 400);
        margin-left: .6em;
    }
    &__messages {
        height: calc(100% - 100px);
        width: 98%;
        margin: 0 auto;
        padding: 0 .4em;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0.3em;
        }
          
        &::-webkit-scrollbar-track {
            background: color(neutral, 700);
        }
          
        &::-webkit-scrollbar-thumb {
            background: color(neutral, 900);
        }
    }
    &__message-wrapper {
        @include flex(column, flex-start, flex-start);
        margin: .6em 0;

        &.sent {
            align-items: flex-end;
        }
    }
    &__message {
        @include font($primary-font, semibold, .8rem);
        background-color: color(indigo, lighter);
        color: color(neutral, 300);
        padding: .8em 1.2em;
        border-radius: 5px;
    }
    &__send {
        height: 50px;
        width: 100%;
        padding: 0 .6em;
        @include flex(row, space-between, center);
    }
    &__input {
        @include font($secondary-font, semibold, .8rem);
        background-color: color(neutral, 1000);
        color: color(neutral, 300);
        padding: .8em 1.8em;
        width: calc(100% - 55px);
        border: none;
        border-radius: 50px;

        &:focus {
            outline: none;
        }
    }
    &__btn-wrapper {
        width: 45px;
    }
    .btn {
        @include flex(row, center, center);
        padding: .8em;
        border-radius: 100%;

        svg {
            font-size: 1rem;
            transform: translateX(1.5px);
        }
    }
}