@use '../abstract/' as *;

.internet-connection, .backend-server-connection {
    @include font($secondary-font, semibold, .6rem);
    background-color: color(red, base);
    color: color(neutral, 200);
    @include flex(row, center, center);
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateY(-20px);
    transition: transform $transition-duration $transition-timing-function,
                background-color $transition-duration $transition-timing-function;

    &.online {
        background-color: color(green, darker);
    }
    &.visible {
        transform: translateY(0px);
    }
}

.backend-server-connection {
    z-index: 199;
}