@use '../abstract/' as *;

.internet-connection, .backend-server-connection {
    @include font($secondary-font, semibold, .8rem);
    background-color: color(red, base);
    color: color(neutral, 200);
    border-radius: 10px;
    @include flex(row, center, center);
    width: 40%;
    padding: .6em;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -36px);
    transition: transform $transition-duration $transition-timing-function,
                background-color $transition-duration $transition-timing-function;

    &.online {
        background-color: color(green, darker);
    }
    &.visible {
        transform: translate(-50%, 15px);
    }
}

.backend-server-connection {
    z-index: 99;
}