@use '../abstract/' as *;

.connection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: color(neutral, 800);
    @include flex(column, center, center);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.4);
    transition-property: opacity, visibility, transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    text-align: center;

    &__title {
        @include font($primary-font, semibold, 1.2rem);
        color: color(neutral, 300);
    }

    &__content {
        @include font($secondary-font, medium, .8rem);
        color: color(neutral, 400);
    }
    
    &.offline, &.backend-down {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    &--internet {
        z-index: 200;
    }
    &--backend {
        z-index: 199;
    }
}