@use '../abstract/' as *;

.page-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    &__circle {
        border: 5px solid transparent;
        border-top: 5px solid color(violet, dark);
        border-right: 5px solid color(violet, dark);
        border-radius: 100%;
    }
    &--circle1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:60px;
        height:60px;
        animation: page-loader-spin-left 2s linear infinite;
    }
    &--circle2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        width:40px;
        height:40px;
        animation: page-loader-spin-right 2s linear infinite;
    }
    &--circle3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:20px;
        height:20px;
        animation: page-loader-spin-left 2s linear infinite;
    }
}

@keyframes page-loader-spin-left {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes page-loader-spin-right {
    0% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
}