@use '../abstract/' as *;

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    padding: 2em;
    background-color: color(neutral, 900);
    border: none;
    border-radius: 3px;
    @include flex(column, center, center);

    &__title {
        @include font($primary-font, bold, 1.6rem);
        color: color(neutral, 300);
        text-align: center;
    }
    form {
        margin-top: 2em;
        width: 100%;
    }
    &__input-wrapper {
        margin-bottom: .8em;
    }
    &__input {
        @include font($primary-font, medium, .8rem);
        color: color(neutral, 300);
        width: 100%;
        padding: 1em 1.2em;
        background-color: color(neutral, 1000);
        border: none;
        border-radius: 3px;

        &:focus {
            outline: none;
        }
    }
    &__error-message {
        @include font($secondary-font, medium, .8rem);
        color: color(red, lighter);
    }
    &__btn-wrapper {
        button {
            width: 100%;
        }
    }
    &__link-wrapper {
        margin-top: .5em;
        width: 100%;
        @include flex(row, space-between, center);

        a {
            text-decoration: none;
            color: color(blue, lighter);
        }
    }
    &__link-forgot-your-password, &__link-signup, &__link-login {
        @include font($primary-font, medium, .9rem);
    }
    &__link-signup, &__link-login {
        color: color(neutral, 400);
    }
    &__link-login {
        width: 100%;
        text-align: center;
    }
    &__message {
        @include font($primary-font, medium, .9rem);
        color: color(neutral, 400);
        margin-top: .5em;
        text-align: center;
    }

    @include mq(max-width, medium) {
        max-width: map-get($breakpoints, small);

        &__link-wrapper {
            flex-direction: column;
        }
        &__link-signup {
            margin-top: .5em;
        }
    }

    @include mq(max-width, small) {
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        max-width: 550px;
        height: 100vh;
        justify-content: flex-start;

        &__title {
            font-size: 1.4rem;
        }
        &__link-wrapper {
            text-align: center;
        }
    }
}