@use '../abstract/' as *;

.verify-your-email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 2em;
    background-color: color(neutral, 800);
    border: none;
    border-radius: 3px;
    text-align: center;
    @include flex(column, center, center);

    &__title {
        @include font($primary-font, semibold, 1.8rem);
        color: color(neutral, 300);
    }
    &__content {
        @include font($secondary-font, medium, .85rem);
        color: color(neutral, 300);
        margin-top: 1.6em;
    }
    .btn {
        margin-top: .8em;
    }
    &__logout {
        @include font($secondary-font, medium, .8rem);
        color: color(neutral, 400);
        margin-top: 1.8em;
        
        a {
            color: color(blue, base);
        }
    }

    @include mq(max-width, small) {
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        height: 100vh;
        justify-content: flex-start;

        &__title {
            font-size: 1.4rem;
        }
        &__content {
            font-size: .8rem;
        }
    }
    @include mq(min-width, small) {
        max-width: map-get($breakpoints, small);
    }
    @include mq(min-width, small-medium) {
        max-width: map-get($breakpoints, small-medium);
    }
}