$primary-color1: #f54b67;
$primary-color2: #f78361;
$secondary-color: #16242e;
$dark-grey-color: #3f4550;
$white: #f5f5f5;
$pure-white: #ffffff;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;